@font-face {
    font-family: 'Outfit';
    font-display: block;
    font-weight: 400;
    src: local('Outfit Regular'), local('Outfit-Regular'), url('../font/Outfit-Regular.ttf');
}

@font-face {
    font-family: 'Outfit';
    font-display: block;
    font-weight: 700;
    src: local('Outfit Bold'), local('Outfit-Bold'), url('../font/Outfit-Bold.ttf');
}